<h1>Purchases List</h1>

<a href ="/purchases/addPurchases">Add a purchase</a>

<table class = "table" id = "purchases">
	<tr>
		<th>Purchase id</th>
		<th>Supplier name</th>
		<th>Product name</th>
		<th>Purchase price</th>
		<th>Quantity</th>
		<th>Date</th>
	</tr>
	{{#purchases}}
		<tr>
			<td>{{purchase_id}}</td>
			<td>{{supplier_name}}</td>
			<td>{{product_name}}</td>
			<td>{{cost_price}}</td>
			<td>{{qty}}</td>
			<td>{{date}}</td>

			<td><a href="/purchases/editPurchases/{{purchase_id}}">Edit</a></td>
			<td><a href="/purchases/delete/{{purchase_id}}">Delete</a></td>
		</tr>
	{{/purchases}}	
</table>


