<h1>Sales Records</h1>

<a href="/sales/add">Add sale</a>

<table class="table" id = "salesRecords">
	<tr>
		<th>Sales id</th>
		<th>Product name</th>
		<th>Sales price</th>
		<th>Quantity</th>
		<th>Date</th>
	</tr>
	{{#sales}}
		<tr>
			
			<td>{{sales_id}}</td>
			<td>{{product_name}}</td>
			<td>{{sales_price}}</td>
			<td>{{qty}}</td>
			<td>{{date}}</td>

			<td><a href="/sales/editSales/{{sales_id}}">Edit</a></td>
			<td><a href="/sales/delete/{{sales_id}}">Delete</a></td>
		</tr>
	{{/sales}}
</table>