<h1>Sales Records</h1>

<a href="/sales/add">Add sale</a>
{{#sales}}
  <h2>{{sales_id}}</h2>
  <h2>{{product_name}}</h2>
  <h2>{{sales_price}}</h2>
  <h2>{{qty}}</h2>
  <h2>{{date}}</h2>
  <a href="/sales/edit/{{sales_id}}">Edit</a>
  <a href="/sales/delete/{{sales_id}}">Delete</a>
{{/sales}}

{{#no_sales}}
  <p>No sales available yet. Add some above.</p>
{{/no_sales}}