{{#if admin}}
<h1>Sales Records</h1>

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-xs-12">

			<a href="/sales/add"  class= "btn btn-primary">
			<span class= "glyphicon glyphicon-plus"></span></a>

			<div class = "table-responsive">
				<table class="table" id = "salesRecords">
					<thead>
						<tr>
							<th>Sales id</th>
							<th>Product name</th>
							<th>Sales price</th>
							<th>Quantity</th>
							<th>Date</th>
						</tr>
					</thead>
					{{#sales}}
						<tr>

							<td>{{sales_id}}</td>
							<td>{{product_name}}</td>
							<td>R{{sales_price}}</td>
							<td>{{qty}}</td>
							<td>{{date}}</td>

							<td><a href="/sales/editSales/{{sales_id}}" class="btn btn-primary">
							<span class="glyphicon glyphicon-edit"></span></a></td>

							<td><a href="/sales/delete/{{sales_id}}" class= "btn btn-primary">
							<span class="glyphicon glyphicon-trash"></span></a></td>

						</tr>
					{{/sales}}
				</table>
				{{else}}
				<p> Access denied</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>
