<h1>User List</h1>

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-xs-12">
      <div class = "table-responsive">
				<table class = "table" id = "userList">
					<thead>
						<tr>
							<th>User Name</th>
							<th>User Description</th>
              <th>Action</th>
						</tr>
					</thead>
					{{#user}}

						<tr>
							<td>{{user_name}}</td>
							<td>{{description}}</td>


						<td><form action="/updateDescription/customer/{{user_id}}" method="post">
									<button type= "submit">make Customer</button>
							</form>

							<form action="/updateDescription/admin/{{user_id}}" method="post">
									<button type= "submit">make Admin</button>
							</form></td>


						<td><a href="/user/delete/{{user_id}}" class= "btn btn-primary">
							<span class="glyphicon glyphicon-trash" onclick="return confirm('Are you sure?')"></span></a></td>
						</tr>
					{{/user}}
				</table>
			</div>
		</div>
	</div>
</div>
